In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('/home/ndo/bash_output/data_labels/varscan_labels.csv', sep=",", encoding='utf-8')
df

,Unnamed: 0,0,1,labels01,labels012
0,0,chr1:783075-783275,ACTTACATGACCGACATGGTATTTTTATTTGGCAGCGCTGCTCTAA...,0,0
1,1,chr1:784760-784960,GAAATGAGATATTTATGTAGTCTTAAGGTATCTTCTCACAAATTAT...,0,0
2,2,chr1:785317-785517,GGGTGACAGGGCATTATATCAGCCACTTATCAACAAACATTTCAGA...,0,0
3,3,chr1:797292-797492,ACTTTGCTCAATCTTCGCCTTTGGGTTCCTTTAGGTTTATAATGAA...,0,0
4,4,chr1:803946-804146,TTAGAGGTAACTTTGCTGAACTTGTGAAGAATGGTGTGCAAGGTCC...,0,0
...,...,...,...,...,...
5975095,1071867,chr9:138216261-138216461,CCCATGGCAGTGCGACAGCTGCTTCTTGGCAACTCCACCATGATCA...,1,2
5975096,1071868,chr9:138216453-138216653,TGAATGTTGACAGCACAGGAATCAGGTCATACGGCCCTCCCATCTC...,1,2
5975097,1071869,chr9:138217346-138217546,AGATTCAGGGCCTGCCCAGGGGCAGAGTGCCCCCAGGACTCGCCCT...,1,2
5975098,1071870,chr9:138217346-138217546,AGATTCAGGGCCTGCCCAGGGGCAGAGTGCCCCCAGGACTCGCCCT...,1,2
5975099,1071871,chr9:138221825-138222025,GCTCTTAGGGTGGCCCCTAAGTGAGGCTCCTCAGTGGCTCCAGCTA...,1,2

In [14]:
labels01= df['labels01'].astype('int')

In [15]:
labels01

0          0
1          0
2          0
3          0
4          0
          ..
5975095    1
5975096    1
5975097    1
5975098    1
5975099    1
Name: labels01, Length: 5975100, dtype: int64

In [13]:
flank=df['1']
flank

0          ACTTACATGACCGACATGGTATTTTTATTTGGCAGCGCTGCTCTAA...
1          GAAATGAGATATTTATGTAGTCTTAAGGTATCTTCTCACAAATTAT...
2          GGGTGACAGGGCATTATATCAGCCACTTATCAACAAACATTTCAGA...
3          ACTTTGCTCAATCTTCGCCTTTGGGTTCCTTTAGGTTTATAATGAA...
4          TTAGAGGTAACTTTGCTGAACTTGTGAAGAATGGTGTGCAAGGTCC...
                                 ...
5975095    CCCATGGCAGTGCGACAGCTGCTTCTTGGCAACTCCACCATGATCA...
5975096    TGAATGTTGACAGCACAGGAATCAGGTCATACGGCCCTCCCATCTC...
5975097    AGATTCAGGGCCTGCCCAGGGGCAGAGTGCCCCCAGGACTCGCCCT...
5975098    AGATTCAGGGCCTGCCCAGGGGCAGAGTGCCCCCAGGACTCGCCCT...
5975099    GCTCTTAGGGTGGCCCCTAAGTGAGGCTCCTCAGTGGCTCCAGCTA...
Name: 1, Length: 5975100, dtype: object

In [16]:
from sklearn.model_selection import train_test_split

# Assuming 'data' contains your dataset and 'labels' contain corresponding labels

# Splitting the data into 80% training and 20% test/validation combined
X_train, X_test_val, y_train, y_test_val = train_test_split(flank, labels01, test_size=0.2, random_state=42)

# Splitting the test/validation data into 50% test and 50% validation
X_test, X_val, y_test, y_val = train_test_split(X_test_val, y_test_val, test_size=0.5, random_state=42)

print("Training set size:", len(X_train))
print("Validation set size:", len(X_val))
print("Test set size:", len(X_test))

Training set size: 4780080
Validation set size: 597510
Test set size: 597510