In [66]:
%%bash
vs=/home/ndo/bash_output/04_callvariant_vcf/varscan.vcf

head $vs
tail $vs

Chrom	Position	Ref	Cons	Reads1	Reads2	VarFreq	Strands1	Strands2	Qual1	Qual2	Pvalue	MapQual1	MapQual2	Reads1Plus	Reads1Minus	Reads2Plus	Reads2Minus	VarAllele
chr1	10061	T	W	24	1	4%	2	1	41	25	0.98	1	1	18	6	1	0	A
chr1	10067	T	W	23	1	4.17%	2	1	43	37	0.98	1	1	17	6	1	0	A
chr1	10088	C	M	29	1	3.33%	2	1	37	37	0.98	1	1	23	6	1	0	A
chr1	10091	T	W	32	1	3.03%	2	1	36	37	0.98	1	1	27	5	1	0	A
chr1	10097	T	W	24	1	4%	2	1	35	20	0.98	1	1	18	6	1	0	A
chr1	10103	T	W	20	1	4.76%	2	1	36	20	0.98	1	1	17	3	1	0	A
chr1	10126	T	W	8	1	11.11%	2	1	37	25	0.98	1	1	5	3	1	0	A
chr1	10138	T	W	5	1	16.67%	2	1	36	25	0.98	1	1	2	3	1	0	A
chr1	10163	T	W	3	1	25%	1	1	34	21	0.98	1	1	0	3	1	0	A
KMT2C_chr22_11157169_11189815	31966	C	Y	9	2	18.18%	2	1	37	37	0.98	1	1	7	2	0	2	T
KMT2C_chr22_11157169_11189815	31985	G	K	9	2	18.18%	2	1	37	37	0.98	1	1	8	1	0	2	T
KMT2C_chr22_11157169_11189815	32021	G	K	11	1	8.33%	2	1	37	37	0.98	1	1	8	3	0	1	T
KMT2C_chr22_11157169_11189815	32071	C	S	8	1	11.11%	2	1	34	37	0.98	1	1	4	4	0	1	G
KMT2C_chr22_11157169_11189815	32073	C	S	7	1	12.5%	2	1	37	37	0.98	1	1	3	4	0	1	G
KMT2C_chr22_11157169_11189815	32076	G	R	8	1	11.11%	2	1	37	37	0.98	1	1	4	4	0	1	A
KMT2C_chr22_11157169_11189815	32079	G	R	8	1	11.11%	2	1	32	37	0.98	1	1	4	4	0	1	A
KMT2C_chr22_11157169_11189815	32080	C	Y	8	1	11.11%	2	1	35	37	0.98	1	1	4	4	0	1	T
KMT2C_chr22_11157169_11189815	32208	A	R	4	2	33.33%	2	1	37	37	0.98	1	1	2	2	0	2	G
KMT2C_chr22_11157169_11189815	32219	G	R	6	1	14.29%	2	1	35	23	0.98	1	1	2	4	0	1	A

In [67]:
import pandas as pd
def read_vcf_with_header(vcf_file):
    """
    Read VCF file into pandas DataFrame and extract header lines.
    """
    vcf_header = []
    with open(vcf_file, "r") as f:
        for line in f:
            if line.startswith('#Chrom'):
                vcf_header.extend(line.strip().split('\t'))
    df = pd.read_csv(vcf_file, sep="\t")
    df.columns = vcf_header
   
    return df

In [68]:
vs='/home/ndo/bash_output/04_callvariant_vcf/varscan.vcf'
df = pd.read_csv(vs, sep="\t")
df

,Chrom,Position,Ref,Cons,Reads1,Reads2,VarFreq,Strands1,Strands2,Qual1,Qual2,Pvalue,MapQual1,MapQual2,Reads1Plus,Reads1Minus,Reads2Plus,Reads2Minus,VarAllele
0,chr1,10061,T,W,24,1,4%,2,1,41,25,0.98,1,1,18,6,1,0,A
1,chr1,10067,T,W,23,1,4.17%,2,1,43,37,0.98,1,1,17,6,1,0,A
2,chr1,10088,C,M,29,1,3.33%,2,1,37,37,0.98,1,1,23,6,1,0,A
3,chr1,10091,T,W,32,1,3.03%,2,1,36,37,0.98,1,1,27,5,1,0,A
4,chr1,10097,T,W,24,1,4%,2,1,35,20,0.98,1,1,18,6,1,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7751678,KMT2C_chr22_11157169_11189815,32076,G,R,8,1,11.11%,2,1,37,37,0.98,1,1,4,4,0,1,A
7751679,KMT2C_chr22_11157169_11189815,32079,G,R,8,1,11.11%,2,1,32,37,0.98,1,1,4,4,0,1,A
7751680,KMT2C_chr22_11157169_11189815,32080,C,Y,8,1,11.11%,2,1,35,37,0.98,1,1,4,4,0,1,T
7751681,KMT2C_chr22_11157169_11189815,32208,A,R,4,2,33.33%,2,1,37,37,0.98,1,1,2,2,0,2,G
7751682,KMT2C_chr22_11157169_11189815,32219,G,R,6,1,14.29%,2,1,35,23,0.98,1,1,2,4,0,1,A

In [69]:
# def get_chrom_pos(df):
#     if df['Chrom'].startswith('chr'):
#         return True
#     return False

In [70]:
# df['CHROM'] = df.apply(get_chrom_pos, axis=1)

In [71]:
#extract rows with weird chrom values
# df = df[df['CHROM'] == False]

In [72]:
df

,Chrom,Position,Ref,Cons,Reads1,Reads2,VarFreq,Strands1,Strands2,Qual1,Qual2,Pvalue,MapQual1,MapQual2,Reads1Plus,Reads1Minus,Reads2Plus,Reads2Minus,VarAllele
0,chr1,10061,T,W,24,1,4%,2,1,41,25,0.98,1,1,18,6,1,0,A
1,chr1,10067,T,W,23,1,4.17%,2,1,43,37,0.98,1,1,17,6,1,0,A
2,chr1,10088,C,M,29,1,3.33%,2,1,37,37,0.98,1,1,23,6,1,0,A
3,chr1,10091,T,W,32,1,3.03%,2,1,36,37,0.98,1,1,27,5,1,0,A
4,chr1,10097,T,W,24,1,4%,2,1,35,20,0.98,1,1,18,6,1,0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7751678,KMT2C_chr22_11157169_11189815,32076,G,R,8,1,11.11%,2,1,37,37,0.98,1,1,4,4,0,1,A
7751679,KMT2C_chr22_11157169_11189815,32079,G,R,8,1,11.11%,2,1,32,37,0.98,1,1,4,4,0,1,A
7751680,KMT2C_chr22_11157169_11189815,32080,C,Y,8,1,11.11%,2,1,35,37,0.98,1,1,4,4,0,1,T
7751681,KMT2C_chr22_11157169_11189815,32208,A,R,4,2,33.33%,2,1,37,37,0.98,1,1,2,2,0,2,G
7751682,KMT2C_chr22_11157169_11189815,32219,G,R,6,1,14.29%,2,1,35,23,0.98,1,1,2,4,0,1,A

In [75]:
# test = df['Chrom'].str.split('_').tolist()
def get_chrom_pos(df):
    if df['Chrom'].startswith('chr'):
        return df['Chrom']
    return df['Chrom'].split('_')[1]

In [76]:
# df['filter'] = df.apply(get_chrom_pos, axis= 1)

KeyboardInterrupt:

In [ ]:
df['filter']

7684569    chr17
7684570    chr17
7684571    chr17
7684572    chr17
7684573    chr17
           ...
7751678    chr22
7751679    chr22
7751680    chr22
7751681    chr22
7751682    chr22
Name: filter, Length: 67114, dtype: object