In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/ndo/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ndo/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ndo/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/ndo/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/ndo/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /home/ndo/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
import pandas as pd

In [49]:
def read_vcf_with_header(vcf_file):
    """
    Read VCF file into pandas DataFrame and extract header lines.
    """
    vcf_header = []
    with open(vcf_file, "r") as f:
        for line in f:
            if line.startswith('#CHROM'):
                vcf_header.extend(line.strip().split('\t'))
    df = pd.read_csv(vcf_file, sep="\t", comment="#")
    df.columns = vcf_header
   
    return df

In [ ]:
#PROCCESS the GIAB-groundtruth first

In [60]:
vcf_GIAB= "/home/ndo/GIAB-GT/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf"
df_giab=df = read_vcf_with_header(vcf_GIAB)

In [61]:
df_giab

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG001
0,chr1,783175,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:639:0,218:0,84:194"
1,chr1,784860,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:901:105,406:0,74:301"
2,chr1,785417,.,G,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:820:125,383:0,70:339"
3,chr1,797392,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:760:161,142:25,37:147"
4,chr1,798618,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:526:0,196:0,65:157"
...,...,...,...,...,...,...,...,...,...,...
3893335,chr22,50791190,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:498:87,65:35,35:151"
3893336,chr22,50792075,.,G,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:545:144,36:34,37:158"
3893337,chr22,50792591,.,T,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:677:123,132:37,33:157"
3893338,chr22,50792792,.,A,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:392:56,49:33,36:152"
3893339,chr22,50793229,.,T,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:473:14,136:0,71:74"

In [55]:
vcf_file = "/home/ndo/bash_output/05_bedtools_intersect/SRR13586007_intersected.vcf"
# Read VCF file into pandas DataFrame using header lines as column names
df = read_vcf_with_header(vcf_file)

In [56]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,20
0,chr1,601877,.,A,C,21.18510,.,DP=4;SGB=-0.379885;RPBZ=1.34164;MQBZ=0.942809;...,GT:PL:AD,"0/1:25,0,73:3,1"
1,chr1,602801,.,C,G,19.87030,.,DP=2;SGB=-0.379885;RPBZ=-1;MQBZ=1;BQBZ=0;SCBZ=...,GT:PL:AD,"1/1:17,1,0:1,1"
2,chr1,605691,.,T,C,18.68940,.,DP=6;SGB=-0.379885;RPBZ=1.41421;MQBZ=1.45095;M...,GT:PL:AD,"0/1:22,0,46:4,1"
3,chr1,607094,.,T,G,9.53301,.,DP=2;SGB=-0.379885;RPBZ=1;MQBZ=1;MQSBZ=1;BQBZ=...,GT:PL:AD,"1/1:6,1,0:1,1"
4,chr1,607126,.,C,A,7.13505,.,DP=3;SGB=-0.379885;RPBZ=1.22474;MQBZ=1.41421;M...,GT:PL:AD,"1/1:3,0,0:2,1"
...,...,...,...,...,...,...,...,...,...,...
17540181,chr22,50793395,.,A,T,11.59980,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL:AD,"1/1:11,3,0:0,1"
17540182,chr22,50793407,.,A,C,11.59980,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL:AD,"1/1:11,3,0:0,1"
17540183,chr22,50793422,.,A,C,11.59980,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL:AD,"1/1:11,3,0:0,1"
17540184,chr22,50793434,.,C,G,11.59980,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL:AD,"1/1:11,3,0:0,1"
17540185,chr22,50793440,.,C,G,24.98420,.,"DP=1;SGB=-0.379885;MQ0F=0;AC=2;AN=2;DP4=0,0,1,...",GT:PL:AD,"1/1:25,3,0:0,1"

In [57]:
df = df[['#CHROM','POS','REF','ALT']]

In [58]:
df

         #CHROM       POS REF ALT
0          chr1    601877   A   C
1          chr1    602801   C   G
2          chr1    605691   T   C
3          chr1    607094   T   G
4          chr1    607126   C   A
...         ...       ...  ..  ..
17540181  chr22  50793395   A   T
17540182  chr22  50793407   A   C
17540183  chr22  50793422   A   C
17540184  chr22  50793434   C   G
17540185  chr22  50793440   C   G

[17540186 rows x 4 columns]

,chr1,601268,.,A,C,4.30936,..1,"DP=2;SGB=-0.379885;RPBZ=-1;MQBZ=-1;MQSBZ=1;BQBZ=-1;SCBZ=0;MQ0F=0;AC=1;AN=2;DP4=0,1,1,0;MQ=32",GT:PL:AD,"0/1:5,0,31:1,1"
0,chr1,601877,.,A,C,21.18510,.,DP=4;SGB=-0.379885;RPBZ=1.34164;MQBZ=0.942809;...,GT:PL:AD,"0/1:25,0,73:3,1"
1,chr1,602801,.,C,G,19.87030,.,DP=2;SGB=-0.379885;RPBZ=-1;MQBZ=1;BQBZ=0;SCBZ=...,GT:PL:AD,"1/1:17,1,0:1,1"
2,chr1,605691,.,T,C,18.68940,.,DP=6;SGB=-0.379885;RPBZ=1.41421;MQBZ=1.45095;M...,GT:PL:AD,"0/1:22,0,46:4,1"
3,chr1,607094,.,T,G,9.53301,.,DP=2;SGB=-0.379885;RPBZ=1;MQBZ=1;MQSBZ=1;BQBZ=...,GT:PL:AD,"1/1:6,1,0:1,1"
4,chr1,607126,.,C,A,7.13505,.,DP=3;SGB=-0.379885;RPBZ=1.22474;MQBZ=1.41421;M...,GT:PL:AD,"1/1:3,0,0:2,1"

In [2]:
import pandas as pd

def load_sample_vcf_file(filename):
    """
    Function to load sample VCF file into a pandas DataFrame.
    """
    vcf_data = pd.read_csv(filename, sep='\t', comment='#', header=None)
    # vcf_data.columns = ['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO']
    return vcf_data[['#CHROM', 'POS']]

def load_GIAB_vcf_file(filename):
    """
    Function to load sample VCF file into a pandas DataFrame.
    """
    
        vcf_data = pd.read_csv(filename, sep='\t', comment='#', header=None)
    # vcf_data.columns = ['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO']
    return vcf_data[['#CHROM', 'POS']]
def compare_vcf_files(vcf_file1, vcf_file2):
    """
    Function to compare two VCF files based on chromosome (chr) and position (pos).
    """
    vcf_data1 = load_vcf_file(vcf_file1)
    vcf_data2 = load_vcf_file(vcf_file2)
    
    # Merge the two dataframes on 'chr' and 'pos' columns
    merged_data = pd.merge(vcf_data1, vcf_data2, on=['#CHROM', 'POS'], how='inner', suffixes=('_1', '_2'))
    
    return merged_data

# Example usage:
if __name__ == "__main__":
    vcf_file1 = "/home/ndo/bash_output/05_bedtools_intersect/SRR13586007_intersected.vcf"
    vcf_file2 = "/home/ndo/GIAB-GT/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf"
    
    comparison_result = compare_vcf_files(vcf_file1, vcf_file2)
    print(comparison_result)

KeyError: "None of [Index(['#CHROM', 'POS'], dtype='object')] are in the [columns]"