In [3]:
!pip install pandas

Requirement already satisfied: pandas in /home/NFS_OPT/intel/intelpython3/lib/python3.6/site-packages (0.25.0+0.gd1accd0.dirty)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/ndo/.local/lib/python3.6/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /home/NFS_OPT/intel/intelpython3/lib/python3.6/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.13.3 in /home/NFS_OPT/intel/intelpython3/lib/python3.6/site-packages (from pandas) (1.17.5)
Requirement already satisfied: six>=1.5 in /home/ndo/.local/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.16.0)

In [4]:
import pandas as pd

In [5]:
def read_vcf_with_header(vcf_file):
    """
    Read VCF file into pandas DataFrame and extract header lines.
    """
    vcf_header = []
    with open(vcf_file, "r") as f:
        for line in f:
            if line.startswith('#CHROM'):
                vcf_header.extend(line.strip().split('\t'))
    df = pd.read_csv(vcf_file, sep="\t", comment="#")
    df.columns = vcf_header
   
    return df

In [6]:
#PROCCESS the GIAB-groundtruth first

In [7]:
vcf_GIAB= "/home/ndo/GIAB-GT/HG001_GRCh38_1_22_v4.2.1_benchmark.vcf"
df_giab= read_vcf_with_header(vcf_GIAB)

In [8]:
df_giab

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG001
0,chr1,783175,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:639:0,218:0,84:194"
1,chr1,784860,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:901:105,406:0,74:301"
2,chr1,785417,.,G,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:820:125,383:0,70:339"
3,chr1,797392,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:760:161,142:25,37:147"
4,chr1,798618,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:526:0,196:0,65:157"
5,chr1,798662,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:563:0,211:0,65:147"
6,chr1,800046,.,G,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:640:21,249:0,68:197"
7,chr1,801142,.,A,T,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:246"
8,chr1,801143,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:431:51,183:0,67:249"
9,chr1,804046,.,A,G,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:639:47,254:0,78:334"
10,chr1,804148,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:612:0,208:0,79:156"
11,chr1,805514,.,AC,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:712:142,135:40,42:151"
12,chr1,806199,.,T,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:529:0,161:0,76:197"
13,chr1,807445,.,A,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:773:136,148:38,51:150"
14,chr1,807641,.,T,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:753:157,111:51,37:158"
15,chr1,807692,.,C,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:802:15,283:0,87:162"
16,chr1,813498,.,G,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:798:3,298:0,90:161"
17,chr1,813885,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:615:0,204:0,85:161"
18,chr1,814016,.,T,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:582:100,94:38,47:157"
19,chr1,814033,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:574:97,91:39,47:158"
20,chr1,814212,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:289:0,45:0,88:162"
21,chr1,814264,.,T,C,50,PASS,"platforms=2;platformnames=PacBio,10X;datasets=...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:197:0,89:0,89:68"
22,chr1,814303,.,C,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:330:0,61:0,88:158"
23,chr1,814309,.,T,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:338:0,65:1,89:158"
24,chr1,814378,.,C,T,50,PASS,"platforms=2;platformnames=PacBio,10X;datasets=...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:160:1,87:1,87:55"
25,chr1,814380,.,C,G,50,PASS,"platforms=2;platformnames=PacBio,10X;datasets=...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:160:0,88:0,88:56"
26,chr1,814476,.,C,T,50,PASS,"platforms=2;platformnames=PacBio,10X;datasets=...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:215:0,89:0,89:59"
27,chr1,814583,.,T,TAA,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:337:0,82:12,70:155"
28,chr1,814609,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:289:0,57:0,80:158"
29,chr1,814617,.,A,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:273:0,41:0,89:155"
...,...,...,...,...,...,...,...,...,...,...
3893310,chr22,50777721,.,C,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:626:107,102:28,43:149"
3893311,chr22,50778136,.,T,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:785:169,178:34,44:933"
3893312,chr22,50778251,.,C,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:690:184,165:33,45:445"
3893313,chr22,50778462,.,G,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:690:160,161:31,43:212"
3893314,chr22,50778706,.,A,G,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:552:152,84:30,34:252"
3893315,chr22,50780578,.,G,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:713:133,165:33,45:172"
3893316,chr22,50781400,.,A,AAG,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:439:73,57:41,36:144"
3893317,chr22,50782420,.,C,A,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:709:157,146:33,37:253"
3893318,chr22,50782746,.,C,T,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:532:120,228:0,72:352"
3893319,chr22,50784300,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:584:136,49:42,36:154"
3893320,chr22,50784338,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:590:130,58:39,39:156"
3893321,chr22,50784803,.,G,C,50,PASS,"platforms=4;platformnames=PacBio,Illumina,10X,...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:541:95,216:1,79:331"
3893322,chr22,50785209,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:611:113,88:42,38:153"
3893323,chr22,50786519,.,A,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:867:171,136:42,37:156"
3893324,chr22,50787086,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:658:112,111:38,34:197"
3893325,chr22,50787916,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:692:158,79:42,39:156"
3893326,chr22,50788602,.,A,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:496:0,154:0,81:159"
3893327,chr22,50789289,.,A,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:661:155,74:42,37:152"
3893328,chr22,50789463,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:708:134,113:41,37:154"
3893329,chr22,50790395,.,ATCT,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:455:94,68:32,34:162"
3893330,chr22,50790460,.,T,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:593:101,98:38,35:156"
3893331,chr22,50791027,.,G,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:445:90,41:36,36:155"
3893332,chr22,50791067,.,C,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:421:113,29:34,35:167"
3893333,chr22,50791171,.,T,TCTC,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:448:94,62:36,35:155"
3893334,chr22,50791178,.,A,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:456:100,56:33,33:164"
3893335,chr22,50791190,.,G,A,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:498:87,65:35,35:151"
3893336,chr22,50792075,.,G,T,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:545:144,36:34,37:158"
3893337,chr22,50792591,.,T,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:677:123,132:37,33:157"
3893338,chr22,50792792,.,A,G,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"0/1:.:392:56,49:33,36:152"
3893339,chr22,50793229,.,T,C,50,PASS,"platforms=3;platformnames=PacBio,Illumina,10X;...",GT:PS:DP:ADALL:AD:GQ,"1/1:.:473:14,136:0,71:74"

In [9]:
df_giab = df_giab[['#CHROM','POS','REF','ALT']]

In [10]:
df_giab

        #CHROM       POS REF ALT
0         chr1    783175   T   C
1         chr1    784860   T   C
2         chr1    785417   G   A
3         chr1    797392   G   A
4         chr1    798618   C   T
...        ...       ...  ..  ..
3893335  chr22  50791190   G   A
3893336  chr22  50792075   G   T
3893337  chr22  50792591   T   C
3893338  chr22  50792792   A   G
3893339  chr22  50793229   T   C

[3893340 rows x 4 columns]

In [11]:
vcf_file = "/home/ndo/bash_output/05_bedtools_intersect/SRR13586007_intersected.vcf"
# Read VCF file into pandas DataFrame using header lines as column names
df = read_vcf_with_header(vcf_file)

In [12]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO
0,chr1,601569,.,G,T,2,.,"DP=6;AF=0.166667;SB=0;DP4=3,2,0,1"
1,chr1,601877,.,A,C,22,.,"DP=4;AF=0.250000;SB=0;DP4=1,2,0,1"
2,chr1,602801,.,C,G,2,.,"DP=2;AF=0.500000;SB=0;DP4=1,0,1,0"
3,chr1,604476,.,C,A,0,.,"DP=4;AF=0.250000;SB=0;DP4=1,2,0,1"
4,chr1,604531,.,T,C,1,.,"DP=3;AF=0.333333;SB=0;DP4=0,2,0,1"
5,chr1,604679,.,T,A,0,.,"DP=3;AF=0.333333;SB=0;DP4=1,1,0,1"
6,chr1,604726,.,A,C,1,.,"DP=2;AF=0.500000;SB=0;DP4=1,0,0,1"
7,chr1,604760,.,A,C,1,.,"DP=2;AF=0.500000;SB=0;DP4=1,0,0,1"
8,chr1,604761,.,A,C,1,.,"DP=2;AF=0.500000;SB=0;DP4=1,0,0,1"
9,chr1,604764,.,T,G,1,.,"DP=2;AF=0.500000;SB=0;DP4=1,0,0,1"
10,chr1,604975,.,A,C,2,.,"DP=2;AF=0.500000;SB=0;DP4=1,0,1,0"
11,chr1,605221,.,T,G,1,.,"DP=4;AF=0.250000;SB=0;DP4=2,1,0,1"
12,chr1,605297,.,A,C,1,.,"DP=4;AF=0.250000;SB=0;DP4=1,2,1,0"
13,chr1,605298,.,T,C,1,.,"DP=4;AF=0.250000;SB=0;DP4=2,1,0,1"
14,chr1,605601,.,T,G,10,.,"DP=6;AF=0.166667;SB=0;DP4=2,3,1,0"
15,chr1,605621,.,G,T,10,.,"DP=5;AF=0.200000;SB=3;DP4=1,3,1,0"
16,chr1,605672,.,T,C,1,.,"DP=8;AF=0.125000;SB=0;DP4=4,3,1,0"
17,chr1,605674,.,T,A,1,.,"DP=8;AF=0.125000;SB=0;DP4=4,3,1,0"
18,chr1,605691,.,T,C,1,.,"DP=6;AF=0.166667;SB=4;DP4=4,1,0,1"
19,chr1,605692,.,G,C,1,.,"DP=5;AF=0.200000;SB=0;DP4=3,1,1,0"
20,chr1,605698,.,C,A,1,.,"DP=5;AF=0.200000;SB=0;DP4=3,1,1,0"
21,chr1,605699,.,G,C,1,.,"DP=5;AF=0.200000;SB=0;DP4=3,1,1,0"
22,chr1,605708,.,C,A,1,.,"DP=5;AF=0.200000;SB=0;DP4=3,1,1,0"
23,chr1,605710,.,G,T,1,.,"DP=5;AF=0.200000;SB=6;DP4=4,0,0,1"
24,chr1,606047,.,A,G,1,.,"DP=4;AF=0.250000;SB=0;DP4=1,2,1,0"
25,chr1,606445,.,G,C,1,.,"DP=2;AF=0.500000;SB=0;DP4=0,1,0,1"
26,chr1,607094,.,T,G,2,.,"DP=2;AF=0.500000;SB=0;DP4=1,0,0,1"
27,chr1,607095,.,C,A,2,.,"DP=2;AF=0.500000;SB=0;DP4=0,1,1,0"
28,chr1,607126,.,C,A,1,.,"DP=3;AF=0.333333;SB=4;DP4=2,0,0,1"
29,chr1,607170,.,C,A,1,.,"DP=4;AF=0.250000;SB=0;DP4=2,1,1,0"
...,...,...,...,...,...,...,...,...
36470713,chr22,50790735,.,A,G,1,.,"DP=4;AF=0.250000;SB=0;DP4=0,3,0,1"
36470714,chr22,50790745,.,A,G,1,.,"DP=4;AF=0.250000;SB=0;DP4=0,3,0,1"
36470715,chr22,50790804,.,G,C,0,.,"DP=6;AF=0.166667;SB=0;DP4=0,5,0,1"
36470716,chr22,50790952,.,T,C,24,.,"DP=3;AF=0.333333;SB=4;DP4=2,0,0,1"
36470717,chr22,50791258,.,T,G,36,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470718,chr22,50791307,.,A,C,10,.,"DP=3;AF=0.333333;SB=0;DP4=1,1,0,1"
36470719,chr22,50791790,.,T,G,2,.,"DP=5;AF=0.200000;SB=0;DP4=1,3,0,1"
36470720,chr22,50791791,.,A,G,1,.,"DP=6;AF=0.166667;SB=4;DP4=1,4,1,0"
36470721,chr22,50791930,.,T,G,2,.,"DP=4;AF=0.250000;SB=0;DP4=1,2,1,0"
36470722,chr22,50792075,.,G,T,27,.,"DP=5;AF=0.400000;SB=0;DP4=2,1,2,0"
36470723,chr22,50792195,.,G,C,31,.,"DP=3;AF=0.333333;SB=0;DP4=0,2,0,1"
36470724,chr22,50792295,.,C,A,6,.,"DP=8;AF=0.125000;SB=0;DP4=3,4,1,0"
36470725,chr22,50792348,.,A,T,5,.,"DP=7;AF=0.142857;SB=0;DP4=3,3,1,0"
36470726,chr22,50792389,.,T,G,2,.,"DP=5;AF=0.200000;SB=0;DP4=2,2,1,0"
36470727,chr22,50792442,.,T,C,1,.,"DP=4;AF=0.250000;SB=0;DP4=1,2,0,1"
36470728,chr22,50792768,.,A,C,1,.,"DP=4;AF=0.250000;SB=0;DP4=1,2,0,1"
36470729,chr22,50792791,.,A,C,1,.,"DP=5;AF=0.200000;SB=0;DP4=1,3,0,1"
36470730,chr22,50792908,.,A,C,2,.,"DP=5;AF=0.200000;SB=0;DP4=1,3,0,1"
36470731,chr22,50793197,.,T,C,9,.,"DP=3;AF=0.333333;SB=0;DP4=0,2,0,1"
36470732,chr22,50793229,.,T,C,9,.,"DP=2;AF=0.500000;SB=0;DP4=0,1,0,1"
36470733,chr22,50793339,.,A,C,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470734,chr22,50793353,.,A,C,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470735,chr22,50793355,.,A,C,35,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470736,chr22,50793383,.,T,G,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470737,chr22,50793393,.,C,G,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470738,chr22,50793395,.,A,T,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470739,chr22,50793407,.,A,C,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470740,chr22,50793422,.,A,C,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470741,chr22,50793434,.,C,G,10,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"
36470742,chr22,50793440,.,C,G,24,.,"DP=1;AF=1.000000;SB=2147483647;DP4=0,0,1,0"

In [13]:
df = df[['#CHROM','POS','REF','ALT']]

In [14]:
df

         #CHROM       POS REF ALT
0          chr1    601569   G   T
1          chr1    601877   A   C
2          chr1    602801   C   G
3          chr1    604476   C   A
4          chr1    604531   T   C
...         ...       ...  ..  ..
36470738  chr22  50793395   A   T
36470739  chr22  50793407   A   C
36470740  chr22  50793422   A   C
36470741  chr22  50793434   C   G
36470742  chr22  50793440   C   G

[36470743 rows x 4 columns]

In [15]:
merge_df = pd.merge(df_giab, df, how="outer", on=["#CHROM", "POS"])

In [16]:
m_df = merge_df.rename(columns={"#CHROM" : "CHROM", "REF_x" : "REF_GIAB", "ALT_x" : "ALT_GIAB", "REF_y" : "REF_S", "ALT_y" : "ALT_S"})

In [17]:
m_df.head()

  CHROM     POS REF_GIAB ALT_GIAB REF_S ALT_S
0  chr1  783175        T        C     T     C
1  chr1  784860        T        C     T     C
2  chr1  785417        G        A     G     A
3  chr1  797392        G        A     G     A
4  chr1  798618        C        T     C     T

**CATEGORIZE**

- Case 1: both call same variants                                       True variants
- Case 2: GIAB call variants and  Sample do not                         Artifacts   
          Sample call variants and GIAB do not
- Case 3: GIAB calls and Sample also call variants but difference ALT   Artifacts

**TP, TN, FP, FN**
- Postive means calling variants
- Negative means not calling variants

- TP: both calls variants and they have the same REFs ALTs
- FN: sample does not call variant but GIAB does
- TN: Both do not call variants
- FP: sample calls variant but GIAB does not || they call variants at the same position but different ALTS

In [18]:
m_df.head(150)

    CHROM     POS REF_GIAB ALT_GIAB REF_S ALT_S
0    chr1  783175        T        C     T     C
1    chr1  784860        T        C     T     C
2    chr1  785417        G        A     G     A
3    chr1  797392        G        A     G     A
4    chr1  798618        C        T     C     T
..    ...     ...      ...      ...   ...   ...
145  chr1  923311       TG        T   NaN   NaN
146  chr1  923421        A        G   NaN   NaN
147  chr1  924024        C        G     C     G
148  chr1  924310        C        G   NaN   NaN
149  chr1  924321        C        G   NaN   NaN

[150 rows x 6 columns]

In [22]:
###Define a custom function to determine positive and negative cases

def categorize_variants(df):
    if (df["ALT_GIAB"] == df["ALT_S"]) and (df["REF_GIAB"] == df["REF_S"]):
        return "TP"
    if (df["ALT_GIAB"] != df["ALT_S"]) and (df["REF_GIAB"] == df["REF_S"]):
        return "FP"
    if  df["ALT_GIAB"] and pd.isna(df["ALT_S"]):
        return "FP"
    if  pd.isna(df["ALT_GIAB"]) and df["ALT_S"]:
        return "FN"
    return "None"

In [23]:
#Test
test_df = m_df[:150].copy()
# test_df
test_df['VAR_CATE'] = test_df.apply(categorize_variants, axis = 1)

test_df

    CHROM     POS REF_GIAB ALT_GIAB REF_S ALT_S VAR_CATE
0    chr1  783175        T        C     T     C       TP
1    chr1  784860        T        C     T     C       TP
2    chr1  785417        G        A     G     A       TP
3    chr1  797392        G        A     G     A       TP
4    chr1  798618        C        T     C     T       TP
..    ...     ...      ...      ...   ...   ...      ...
145  chr1  923311       TG        T   NaN   NaN       FP
146  chr1  923421        A        G   NaN   NaN       FP
147  chr1  924024        C        G     C     G       TP
148  chr1  924310        C        G   NaN   NaN       FP
149  chr1  924321        C        G   NaN   NaN       FP

[150 rows x 7 columns]

In [25]:
m_df['VAR_CATE'] = m_df.apply(categorize_variants, axis = 1)