In [1]:
# Kathy Lam

import pandas as pd
import numpy as np
import pickle
import os.path
#import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer

import get_metrics

In [2]:
srr_names = ['ERR1831349',
            'ERR1905889',
            'ERR1905890',
            'SRR14724463',
            'SRR14724473',
            'SRR14724483',
            'SRR14724493', 
            'SRR14724503',
            'SRR14724513',
            'SRR2106342',
            'SRR2106344']


#srr_names = ['ERR1831349']

In [4]:
# Convert GIAB VCF file into a pandas df 
giab_snv_dfs = []
for srr_name in srr_names:
    giab_vcf = f'/home/klam/data/{srr_name}/GIAB_variants_intersect_bedfile.vcf'  
    giab_df = get_metrics.vcf_to_df(giab_vcf).set_index(["CHROM", "POS"]) # makes index unique based on CHROM and POS
    # Only select SNVs from the GIAB datasets
    giab_snv_df = get_metrics.filter_for_snvs(giab_df)
    giab_snv_dfs.append(giab_snv_df)

In [6]:
# Convert SRR VCF files into a pandas df
srr_snv_dfs = []
for srr_name in srr_names:  
    srr_vcf = f'/home/klam/data/{srr_name}/SRR_variants_intersect_bedfile.vcf'
    srr_df = get_metrics.vcf_to_df(srr_vcf).set_index(["CHROM", "POS"]) # makes index unique based on CHROM and POS
    # Only select SNVs from the SRR datasets
    srr_snv_df = get_metrics.filter_for_snvs(srr_df)
    srr_snv_dfs.append(srr_snv_df)

In [7]:
# Match each SRR SNV DF with GIAB SNV DF using zip() then merge them into a single DF
joined_dfs = []
for srr_snv_df, giab_snv_df in zip(srr_snv_dfs, giab_snv_dfs):
    joined_df = get_metrics.join_datasets(srr_snv_df, giab_snv_df)
    joined_dfs.append(joined_df)

In [8]:
len(srr_snv_dfs[0])

91236

In [9]:
len(joined_dfs[0])

92560

In [10]:
joined_dfs[0].head()

                REF_SRR ALT_SRR REF_GIAB ALT_GIAB
CHROM POS
chr1  100049943       C       T      NaN      NaN
      100059935       C       A      NaN      NaN
      100061846       C       A      NaN      NaN
      100069663       G       A      NaN      NaN
      100080550       C       T      NaN      NaN

In [11]:
joined_dfs[0].loc[('chr1','930253')]

REF_SRR       C
ALT_SRR       A
REF_GIAB    NaN
ALT_GIAB    NaN
Name: (chr1, 930253), dtype: object

In [12]:
joined_dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 92560 entries, ('chr1', '100049943') to ('chrX', '9967804')
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   REF_SRR   91236 non-null  object
 1   ALT_SRR   91236 non-null  object
 2   REF_GIAB  18161 non-null  object
 3   ALT_GIAB  18161 non-null  object
dtypes: object(4)
memory usage: 8.0+ MB

In [13]:
# non_artifacts -- true 
joined_dfs[0].loc[('chrX','9946907')]

REF_SRR     G
ALT_SRR     C
REF_GIAB    G
ALT_GIAB    C
Name: (chrX, 9946907), dtype: object

In [10]:
# different_variant -- true
joined_dfs[0].loc[('chr5','120686221')]

REF_SRR     A
ALT_SRR     C
REF_GIAB    A
ALT_GIAB    G
Name: (chr5, 120686221), dtype: object

In [11]:
# not_in_srr -- true
joined_dfs[0].loc[('chr1','100133310')]

REF_SRR     NaN
ALT_SRR     NaN
REF_GIAB      G
ALT_GIAB      A
Name: (chr1, 100133310), dtype: object

In [12]:
# not_in_giab -- true
joined_dfs[0].loc[('chr1','100049943')]

REF_SRR       C
ALT_SRR       T
REF_GIAB    NaN
ALT_GIAB    NaN
Name: (chr1, 100049943), dtype: object

In [14]:
# Count the number of artifacts per case

# Case 1: GIAB and SRR contain the same variant at the same locus is considered true variant (not artifact)
# Case 2: GIAB contains a variant and SRR contains a different variant at the same locus (artifact)
# Case 3: GIAB contains a variant, but SRR does not contain a variant in the same locus
     # 3.1: SRR does not contain anything (not artifact)
     # 3.2: SRR does not contain a variant because the SRR read matches the reference genome (variant)
# Case 4: SRR contains a variant, but GIAB does not contain a variant in the same locus (artifact)

# artifact_cols contains boolean values for each index -- False means case 1, True means case 2 or 4
artifact_cols = []
for srr_name, joined_df in zip(srr_names, joined_dfs):
    print(f"Stats for {srr_name}")
    artifact_col = get_metrics.extract_artifacts_column(joined_df)
    artifact_cols.append(artifact_col)
    print("")

Stats for ERR1831349
Case 1: 16836
Case 2: 1
Case 3: 1324
Case 4: 74399

Stats for ERR1905889
Case 1: 17087
Case 2: 0
Case 3: 1074
Case 4: 43938

Stats for ERR1905890
Case 1: 17035
Case 2: 2
Case 3: 1124
Case 4: 37654

Stats for SRR14724463
Case 1: 24276
Case 2: 3
Case 3: 1583
Case 4: 113980

Stats for SRR14724473
Case 1: 16129
Case 2: 0
Case 3: 1295
Case 4: 55813

Stats for SRR14724483
Case 1: 18052
Case 2: 1
Case 3: 1016
Case 4: 83781

Stats for SRR14724493
Case 1: 24121
Case 2: 1
Case 3: 1740
Case 4: 89054

Stats for SRR14724503
Case 1: 16093
Case 2: 1
Case 3: 1330
Case 4: 58612

Stats for SRR14724513
Case 1: 17949
Case 2: 1
Case 3: 1119
Case 4: 90188

Stats for SRR2106342
Case 1: 49106
Case 2: 1
Case 3: 2595
Case 4: 95916

Stats for SRR2106344
Case 1: 24236
Case 2: 0
Case 3: 1626
Case 4: 240189

In [15]:
artifact_cols[0]

CHROM  POS
chr1   100049943     True
       100059935     True
       100061846     True
       100069663     True
       100080550     True
                    ...
chrX   9937435       True
       9944862       True
       9946907      False
       9967486      False
       9967804      False
Length: 92560, dtype: bool

In [17]:
# Convert SRR VCF files into a pandas df -- Extract flanks and get metrics
# if pkl file exists then we already got metrics and converted to pkl
srr_snv_metrics_dfs = []
srr_snv_metrics_names = []
for srr_name in srr_names:
    pkl_path = f'/home/klam/data/{srr_name}/SRR_snv_metrics.pkl'
    if os.path.exists(pkl_path):
        continue
    else:
        srr_vcf = f'data/{srr_name}/SRR_variants_intersect_bedfile.vcf'
        srr_df = get_metrics.main(srr_vcf).set_index(["CHROM", "POS"]) # makes index unique based on CHROM and POS
        # Only select SNVs from the SRR datasets
        srr_snv_df = get_metrics.filter_for_snvs(srr_df)
        srr_snv_metrics_dfs.append(srr_snv_df)
        srr_snv_metrics_names.append(srr_name)

# Save all srr_snv_metrics_dfs as a pickle file for easier loading in later if there are dfs to serialize
if len(srr_snv_metrics_dfs) != 0:
    for srr_name, srr_snv_metric_df in zip(srr_snv_metrics_names, srr_snv_metrics_dfs):
        pkl_path = f'/home/klam/data/{srr_name}/SRR_snv_metrics.pkl'
        srr_snv_metric_df.to_pickle(pkl_path)

In [25]:
df2 = pd.read_pickle('/home/klam/data/ERR1831349/SRR_snv_metrics.pkl')
df2.shape

(91236, 536)

Index(['REF', 'ALT', 'LSEQ', 'L_A', 'L_T', 'L_G', 'L_C', 'L_TTCT', 'L_TCTC',
       'L_CTCT',
       ...
       'R_TTTA', 'R_TTAC', 'R_CTAT', 'R_CTAG', 'R_HOMO_POLY_A',
       'R_HOMO_POLY_T', 'R_HOMO_POLY_G', 'R_HOMO_POLY_C', 'R_PALINDROME',
       'R_HAIRPIN'],
      dtype='object', length=536)

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 91236 entries, ('chr1', '930253') to ('chrX', '143884366')
Columns: 536 entries, REF to R_HAIRPIN
dtypes: float64(8), int64(524), object(4)
memory usage: 374.3+ MB

In [16]:
# Extract features(column values) for training

In [27]:
pwd

'/home/klam'

In [25]:
df = pd.DataFrame({'chrom':['chr1', 'chr1'],
                  'pos':[1,2],
                 'ref':['A', 'T'],
                  'alt':['T', 'T'],
                  'artifact':[True, False]}).set_index(['chrom', 'pos'])

In [26]:
df

          ref alt  artifact
chrom pos
chr1  1     A   T      True
      2     T   T     False

In [ ]:
df[df.artifact == True]

In [ ]:
df2 = pd.DataFrame({'chrom':['chr1', 'chr1'],
                  'pos':[1,3],
                 'ref':['A', 'C'],
                   'alt':['T', 'T']}).set_index(['chrom', 'pos'])
df2

In [ ]:
df = pd.merge(df, df2, left_index=True, right_index=True, suffixes = ("_SRR", "_GIAB"), how='outer')
df

In [ ]:
#df.ref_SRR == df.ref_GIAB and df.alt_SRR == df.alt_GIAB
df.ref_SRR == df.ref_GIAB

In [ ]:
df.alt_SRR == df.alt_GIAB

In [ ]:
pd.merge(df[df.ref_SRR == df.ref_GIAB], df[df.alt_SRR == df.alt_GIAB], how='inner' )