In [3]:
import pandas as pd
import swifter

In [4]:
vs='/home/ndo/bash_output/04_callvariant_vcf/vsc_mincov2.vcf'
df = pd.read_csv(vs, sep="\t")
df

,Chrom,Position,Ref,Cons,Reads1,Reads2,VarFreq,Strands1,Strands2,Qual1,Qual2,Pvalue,MapQual1,MapQual2,Reads1Plus,Reads1Minus,Reads2Plus,Reads2Minus,VarAllele
0,chr1,601436,C,Y,2,2,50%,1,2,37,37,0.98,1,1,2,0,1,1,T
1,chr1,601667,C,Y,1,2,66.67%,1,2,37,37,0.98,1,1,0,1,1,1,T
2,chr1,604385,C,M,1,1,50%,1,1,37,37,0.98,1,1,1,0,0,1,A
3,chr1,604531,T,Y,2,1,33.33%,1,1,37,37,0.98,1,1,0,2,0,1,C
4,chr1,604726,A,M,1,1,50%,1,1,37,25,0.98,1,1,1,0,0,1,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903347,chr22,50791067,C,Y,1,1,50%,1,1,37,37,0.98,1,1,1,0,1,0,T
4903348,chr22,50792075,G,K,3,2,40%,2,1,37,31,0.98,1,1,2,1,2,0,T
4903349,chr22,50792295,C,M,7,1,12.5%,2,1,37,25,0.98,1,1,3,4,1,0,A
4903350,chr22,50793095,T,Y,3,1,25%,2,1,37,37,0.98,1,1,1,2,0,1,C
4903351,chr22,50793229,T,Y,1,1,50%,1,1,19,37,0.98,1,1,0,1,0,1,C

In [5]:
df.drop_duplicates(subset=['Chrom', 'Position'], keep=False)

,Chrom,Position,Ref,Cons,Reads1,Reads2,VarFreq,Strands1,Strands2,Qual1,Qual2,Pvalue,MapQual1,MapQual2,Reads1Plus,Reads1Minus,Reads2Plus,Reads2Minus,VarAllele
0,chr1,601436,C,Y,2,2,50%,1,2,37,37,0.98,1,1,2,0,1,1,T
1,chr1,601667,C,Y,1,2,66.67%,1,2,37,37,0.98,1,1,0,1,1,1,T
2,chr1,604385,C,M,1,1,50%,1,1,37,37,0.98,1,1,1,0,0,1,A
3,chr1,604531,T,Y,2,1,33.33%,1,1,37,37,0.98,1,1,0,2,0,1,C
4,chr1,604726,A,M,1,1,50%,1,1,37,25,0.98,1,1,1,0,0,1,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4903347,chr22,50791067,C,Y,1,1,50%,1,1,37,37,0.98,1,1,1,0,1,0,T
4903348,chr22,50792075,G,K,3,2,40%,2,1,37,31,0.98,1,1,2,1,2,0,T
4903349,chr22,50792295,C,M,7,1,12.5%,2,1,37,25,0.98,1,1,3,4,1,0,A
4903350,chr22,50793095,T,Y,3,1,25%,2,1,37,37,0.98,1,1,1,2,0,1,C
4903351,chr22,50793229,T,Y,1,1,50%,1,1,19,37,0.98,1,1,0,1,0,1,C

In [6]:
df=df[['Chrom','Position','Ref','VarAllele']]
df = df.rename(columns={'Chrom' : '#CHROM', 'Position' : 'POS', 'Ref' : "REF",'VarAllele':'ALT'}) #'#CHROM','POS','REF','ALT'
df

        #CHROM       POS REF ALT
0         chr1    601436   C   T
1         chr1    601667   C   T
2         chr1    604385   C   A
3         chr1    604531   T   C
4         chr1    604726   A   C
...        ...       ...  ..  ..
4903347  chr22  50791067   C   T
4903348  chr22  50792075   G   T
4903349  chr22  50792295   C   A
4903350  chr22  50793095   T   C
4903351  chr22  50793229   T   C

[4903352 rows x 4 columns]

In [105]:
## DEDUPLICATE VARIANTS BASED ON CHROM AND POS
# df[df.duplicated(subset=["#CHROM", "POS"]) == True]
# df = df[df.duplicated(["#CHROM",'POS'], keep=False)]

In [7]:
def read_vcf_with_header(vcf_file):
    """
    Read VCF file into pandas DataFrame and extract header lines.
    """
    vcf_header = []
    with open(vcf_file, "r") as f:
        for line in f:
            if line.startswith('#CHROM'):
                vcf_header.extend(line.strip().split('\t'))
    df = pd.read_csv(vcf_file, sep="\t", comment="#")
    df.columns = vcf_header
   
    return df

vcf_GIAB= "/home/ndo/GIAB-GT/GIAB_SNP.vcf"
df_giab= read_vcf_with_header(vcf_GIAB)
df_giab = df_giab[['#CHROM','POS','REF','ALT']]

In [8]:
df_giab

        #CHROM       POS REF ALT
0         chr1    783175   T   C
1         chr1    784860   T   C
2         chr1    785417   G   A
3         chr1    797392   G   A
4         chr1    798618   C   T
...        ...       ...  ..  ..
3358496  chr22  50791190   G   A
3358497  chr22  50792075   G   T
3358498  chr22  50792591   T   C
3358499  chr22  50792792   A   G
3358500  chr22  50793229   T   C

[3358501 rows x 4 columns]

In [9]:
merge_df = pd.merge(df_giab, df, how="outer", on=["#CHROM", "POS"])
m_df = merge_df.rename(columns={"#CHROM" : "CHROM", "REF_x" : "REF_GIAB", "ALT_x" : "ALT_GIAB", "REF_y" : "REF_S", "ALT_y" : "ALT_S"})

In [10]:
def categorize_variants(df):
    if (df["ALT_GIAB"] == df["ALT_S"]) and (df["REF_GIAB"] == df["REF_S"]):
        return "TP"
    if (df["ALT_GIAB"] != df["ALT_S"]) and (df["REF_GIAB"] == df["REF_S"]):
        return "FP"
    if  df["ALT_GIAB"] and pd.isna(df["ALT_S"]):
        return "FN"
    if  pd.isna(df["ALT_GIAB"]) and df["ALT_S"]:
        return "FP"
    return "None"

In [11]:
m_df['VAR_CATE'] = m_df.swifter.apply(categorize_variants, axis = 1)

Pandas Apply: 100%|██████████| 6249768/6249768 [01:49<00:00, 57210.72it/s]

In [17]:
m_df['VAR_CATE'].value_counts()

VAR_CATE
FP    2892193
TP    2011035
FN    1346416
Name: count, dtype: int64

In [18]:
m_df.drop(m_df[m_df.VAR_CATE == 'None'].index, inplace=True)
m_df['VAR_CATE'].value_counts()

VAR_CATE
FP    2892193
TP    2011035
FN    1346416
Name: count, dtype: int64

In [14]:
m_df.to_csv('/home/ndo/bash_output/variants_df/varscan_df.csv', sep=',', index=False, encoding='utf-8')

In [15]:
#### Filter out FN that has not coverage in BAM

fn = m_df[m_df['VAR_CATE'] == "FN"]
fn = fn[['CHROM', 'POS']]
#change the name of pos column

fn = fn.rename(columns={"POS": "END"})

#add end column for the dataframe

fn['START'] = fn['END'] - 1

columns_titles = ["CHROM","START","END"]
fn=fn.reindex(columns=columns_titles)

# Convert the dataframe to a BED file
fn.to_csv('/home/ndo/bash_output/fn_bed/fn.bed', sep='\t', header=False, index=False)

In [16]:
fn

        CHROM      START        END
44       chr1     798617     798618
45       chr1     798661     798662
50       chr1     800045     800046
51       chr1     801141     801142
52       chr1     801142     801143
...       ...        ...        ...
6249752  chr9  138216360  138216361
6249753  chr9  138216552  138216553
6249754  chr9  138216696  138216697
6249755  chr9  138217445  138217446
6249766  chr9  138221924  138221925

[1346416 rows x 3 columns]

In [131]:
%%bash 

cat /home/ndo/bash_script/fn_intersect.sh

#!/bin/bash
#
#SBATCH --job-name=coverage
#SBATCH --output=/home/ndo/slurm_script/coverage_%j.out
#SBATCH --error=/home/ndo/slurm_script/coverage_%j.err

#
#SBATCH --nodes=1
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=1
#SBATCH --mem-per-cpu=6

bed=/home/ndo/bash_output/fn_bed/fn.bed
bam=/home/ndo/bash_output/03_final_bam/SRR13586007_sortCoord.bam

bedtools coverage -a $bed -b $bam -d > /home/ndo/bash_output/coverage/coverage_output.txt

In [134]:
!sbatch /home/ndo/bash_script/fn_intersect.sh

Submitted batch job 2499480

In [2]:
#get the coverage via bas
#get the coverage postion

fn_cov = pd.read_csv('/home/ndo/bash_output/05_bedtools_intersect/True_FN.bed', 
            sep='\t', header=None)

fn_cov
#rename the columns
# fn_cov.rename(columns={0 : 'CHROM', 1 : "START", 2 : "END", 3 : "LENGTH", 4 : "COVERAGE"}, inplace=True)

            0          1          2
0        chr1     814616     814617
1        chr1     817513     817514
2        chr1     853875     853876
3        chr1     861346     861347
4        chr1     873547     873548
...       ...        ...        ...
1071867  chr9  138216360  138216361
1071868  chr9  138216552  138216553
1071869  chr9  138217445  138217446
1071870  chr9  138217445  138217446
1071871  chr9  138221924  138221925

[1071872 rows x 3 columns]

In [112]:
# num_set = set()
# for i in range(1,23):
#     num_set.add(str(i))

# def categorize_chrom_column(df):
#     if df['Chrom'].startswith('chr') and df['Chrom'][3:] in num_set:
#         return True
#     return False

In [113]:

# df['CHROM'] = df.apply(categorize_chrom_column, axis=1)

In [114]:
#extract rows with weird chrom values
# chrom_df = df[df['CHROM'] == False]
# norm_df = df[df['CHROM'] == True]

In [115]:
# chrom_df['Chrom'].value_counts()
# norm_df['Chrom'].value_counts().sum()

In [116]:
# test = df['Chrom'].str.split('_').tolist()

# def get_chrom_pos(df):
#     if df['Chrom'].startswith('chr'):
#         return None
#     return df['Chrom'].split('_')[1]

In [117]:
# chrom_df['Chrom'] = chrom_df.apply(get_chrom_pos, axis= 1)

In [118]:
# norm_df['Chrom'].value_counts().head(29)

In [119]:

# filtered_df = norm_df[norm_df['Chrom'].str.startswith('chr') & norm_df['Chrom'].str[3:].astype(int).between(1, 22)]
#

In [120]:
# df = pd.concat([chrom_df,norm_df], ignore_index=True, sort=False)

In [121]:
# norm_df.sort_values(by=['Chrom'], inplace=True)

In [122]:
#write the norm_df into vcf file
# norm_df.to_csv('/home/ndo/bash_output/variants_df/varscan_proccess', sep='\t', index=False, encoding='utf-8')

In [123]:
#insertect with bam first and do variant calling later